POSTGRES_DB=mentor_platform
POSTGRES_USER=postgres
POSTGRES_PASSWORD=4564
JWT_SECRET=xjfruedsjfdepgyypbvseuophnubwgriihwhbhtmyhclhonzsorjohnmndjmowho
JWT_EXPIRATION_MINUTES=180
APP_CORS_ALLOWED_ORIGINS=http://localhost:3000
APP_FRONTEND_URL=http://localhost:3000
APP_SEED_DEMO_DATA=true
NEXT_PUBLIC_API_BASE_URL=http://localhost:8080/api
NEXT_PUBLIC_WS_URL=http://localhost:8080/ws
NEXT_PUBLIC_STUN_URLS=stun:stun.l.google.com:19302,stun:stun1.l.google.com:19302
NEXT_PUBLIC_TURN_URLS=
NEXT_PUBLIC_TURN_USERNAME=
NEXT_PUBLIC_TURN_CREDENTIAL=
